// Define variables for your color scheme

// For example:
$white: #F7F9F9;
$dark-gray: #9B9B9B;
$blue: #5386E4;
$red: #C14953;
$cream: #FFFFF0;
$orange: #F3AE53;
$yellow: #FFCC48;
$black: #2D2D34;
$green: #9DF8B1;
$blue-purple: #6c5ce7;
$light-gray: rgba(180,180,180,.8);
$gray: rgba(120,120,120,1);
$light-purple: rgba(107, 91, 230, 0.2);
