.back-arrow i {
  color: black;
  font-size: 20px;
}





.show-cards-container {
  background-color: white;
  padding: 20px;
  justify-content: center
}

.show-card {
  background-color: $cream;
  border-radius: 5px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 5px;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) */
}

.show-card .show-card-avatars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  p {
    font-size: 14px;
  }
}

.show-card-avatars-sides {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 40%;
  p {
    margin : 0px 10px;
  }
}

.show-card .show-odds-avatar {
  left: 132px;
  top: 18px;
  position: absolute;
}

.show-odds-avatar {
  width: 64px;
  height: 46px;
  border-radius: 50%;
  background-color: $green;
  text-align: center;
  padding-top: 10px;
  p {
    font-size: 14px;
    font-weight: bold;
  }
}

.show-user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.show-card .show-card-text-actions {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 45px
}

.show-card .show-card-text {
  justify-content: left;
  font-family: $body-font;
  p {
    text-overflow: ellipsis;
    width: 250px;
    white-space: nowrap;
    overflow:hidden;
    font-size: 14px;
  }
}

.show-card .show-card-actions {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: -10px;
  top: 40px

}

.big-button {
  border-radius: 5px;
  width: 100%;
  background-color: $blue;
  border-color: $blue;
  transition-timing-function: ease-in-out;
  transition: 0.2s;
  color: $white !important;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;

  &:hover {
    background-color: $black;
    color: $white;
    border-color: $black;
  }
}

.btn-action {
  width: 25px;
  display: block;
}

.btn-color {
  color: $white;
}


// *********************************************************

.tiny-text {
  font-size: 10px
}

.small-text {
  font-size: 14px
}

.medium-text {
  font-size: 20px
}

.blue-purple {
  color: #6c5ce7;
}

.light-grey {
  color: rgba(180,180,180,.8);
}

.grey {
  color: rgba(120,120,120,1);
}

.vertical-spacing-medium {
  padding: 50px 0;
}

.challenge-avatars {
  border: 3px solid #fff;
}

.challenger-1 {
  position: absolute;
  left: 38%;
  top: 25%;
  z-index: 5;
}

.challenger-2 {
  position: absolute;
  left: 46%;
  top: 25%;
}

.bold {
  font-weight: bold
}

.background-overlay {
  background-color: rgba(108, 92, 231, 0.2);
  border-radius: 0 0 20px 20px;
}



.card-bottomline {
  display: flex;
  justify-content: space-between;
  position: relative;

  .card-likers {
    font-weight:200;
    font-size:8px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
    align-text: left;
    p {
      margin : 5px 0px;
      };
    };

  .liker-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: -3px;
    border-style: solid;
    border-width: 1px;
    border-color: $white;
    };

  .card-likes {
    display: flex;
    justify-content: space-between;
    background-color: $purple;
    position: absolute;
    border-radius: 5px;
    right: -10px;
    top: 20px;
    width: 20px;
    height: 20px;
    text-align:center;
      *.like-color {color: $white}
      i {
          font-size:10px;
          padding-left:5px;
          padding-top:4px;
      }
  };
}

.bet-confirmation {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.bet-rejection {
  display: flex;
  justify-content: center;
  width: 100vw;
}


