.cards-container {
  background-color: white;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  justify-content: center
}

.card {
  background-color: $cream;
  border-radius: 15px;
  width: 100%;
  height: 125px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 5px;
  border:none;
  box-shadow: 0px 8px 21px 5px rgba(0,0,0,0.10)
}

.card .card-avatars {
  display: flex;
  justify-content: space-between;
  position: relative;
  p {
    font-size: 10px;
    margin: -1px;
  }
}

.card-avatars-sides {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 15%;
  font-weight: 200;
  p {
    margin : 0px 10px;
  }
}

.card .odds-avatar {
  left: 130px;
  top: 16px;
  position: absolute;
}

.odds-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $green;
  text-align: center;
  padding-top: 10px;
  color: $black;
  border-style: solid;
  border-width: 5px;
  border-color: $white;
  .font-odds1 {
     font-size: 14px !important;
    font-weight: 200;
  }
  .font-odds2 {
    font-size: 10px;
    font-weight: 200;
  }
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card .card-text-actions {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 25px
}

.card .card-text {
  justify-content: left;
  font-family: $body-font;
  p {
    text-overflow: ellipsis;
    width: 250px;
    white-space: nowrap;
    overflow:hidden;
    font-size: 10px;
    font-weight: 600;
  }
}

.card .card-actions {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: -30px;
  top: 20px;
    .icon-wrapper{
        position:relative;
        float:left;
    }
    *.icon-color {color: $blue}
    i {
        width:100px;
        text-align:center;
        vertical-align:middle;
    }
    .badge{
        background: rgba(0,0,0,0.5);
        width: 18px;
        height: 18px;
        margin: 0px;
        border-radius: 50%;
        position:absolute;
        top:-8px;
        right:30px;
        padding:5px;
        color: $white;
        font-weight: 200;
        font-size: 8px;
    }
  }

.big-button {
  border-radius: 50px;
  width: 100%;
  background-color: $blue;
  border-color: $blue;
  transition-timing-function: ease-in-out;
  transition: 0.2s;
  color: $white !important;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 4px;
  box-shadow: 0px 8px 21px 5px rgba(83,134,228,0.10);
  margin-bottom: 5px;
}

.btn-action {
  width: 25px;
  display: block;
}

.btn-color {
  color: $white;
}

/*################################## put to shared */



















