.landing-page-container {
  background-color: $blue-purple;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  .background-logo {
    position: relative;
    left: 130px;
  };
  #big-circle {
    background: #7F72E0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  };
  #medium-circle {
    background: #9A92D8;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  };
  #small-circle {
    background: #AAA4D8;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  };
};


.little-logo-image {
  width: 50px;
  margin-top: 30px;
  margin-left: 20px;
}


.text-fun {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  padding-left: 14px;
}

.background-logo-image {
  width: 100px
}

.landing-page-header {
  color: white;
  margin-top: 15vh;
  font-size: 26px;
}

.landing-page-subtext {
  color: #C5C3D1;
}

.landing-button {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
