.cards-container-2 {
  background-color: white;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  justify-content: center
}



.card-2 {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 130px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
  border:none;
  box-shadow: 0px 12px 21px 5px rgba(0,0,0,0.10);
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-topline-2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 5px;
  p {
    font-size: 10px;
    margin: -1px;
  }

  .card-users-2 {
    color: $gray;
    font-size: 14px;
    font-weight: 400;

    .user-colored-name-2 {
      color: $blue-purple;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .card-ranking-2 {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: $light-purple;
    color: $blue-purple;
    text-align: center;
    font-size: 12px;
    font-weight: 350;
    padding-top: 2px;
  }
}

.card-fullname-2 {
  justify-content: left;
  p {
    text-overflow: ellipsis;
    width: 280px;
    white-space: nowrap;
    overflow:hidden;
    font-size: 16px;
    font-weight: 400;
  }
}

.card-bottomline-2 {
  top: -15px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: flex-end;
}


  .card-info-2 {
    font-weight:300;
    color: $gray;
    font-size:10px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    align-text: left;
    p {
      margin : 5px 0px;
      }
    }


.rankings-container-2 {
  border-radius: 10px;
}

.personal-ranking-2 {
  height: 75px;
  width: 100%;
  text-align: center;
  background-color: $blue-purple;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal-ranking-text-2 {
  color: $white;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

.light-2 {
  background-color: white;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 0 10px;
}

.dark-2 {
  background-color: $light-purple;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 0 10px;
}

.ranking-left-2 {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-between;

}

.no-margin-2 {
  margin: 0;
  font-weight: 500;
  color: $gray;
  font-size: 12px;
}

.ranking-number-2 {
  width: 30px;
  height: 20px;
  border-radius: 8px;
  background-color: $blue-purple;
  color: $white;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  padding-top: 2px;
}

.ranking-right-2 {
  color: $gray;
  font-weight: 500;
  font-size: 12px;
}












