<div class="vert-cont">
  <h1>User Profile</h1>

  <h3><strong>Statistics|Balance</strong></h3>

  <div class="dashboard">
    <p>BIGGEST WIN</p>
    <input type="text">
  </div>

  <div class="dashboard">
    <p>BIGGEST LOSS</p>
    <input type="text">
  </div>

  <div class="dashboard">
    <p>MOST LIKED BET</p>
    <input type="text">
  </div>

  <div class="dashboard">
    <p>BEST MONTH</p>
    <input type="text">
  </div>
</div>


