
    <h1>User Profile</h1>

    <h3><strong>Statistics</strong></h3>

    <h3>Balance</h3>

    <div class="win">
      <input type="text">BIGGEST WIN
    </div>

    <div class="loss">
      <input type="text">BIGGEST LOSS
    </div>

    <div class="liked">
      <input type="text">MOST LIKED BET
    </div>

    <div class="month">
      <input type="text">BEST MONTH
    </div>


