<div class="navbar navbar-expand-sm navbar-light navbar-lewagon", id="navbar">
  <div class="logos">
    <div class="back-arrow">
     <a href="/bets"><i class="fas fa-arrow-left"></i></a>
    </div>
  </div>
  <div class="navbar-title"><%= title %></div>
  <div class="colored">Flutter</div>
</div>
