<div class="navbar navbar-expand-sm navbar-light navbar-lewagon", id="navbar">
  <div class="content">
    <div class="logo">
      <%= image_tag "earlybirds.png", alt: "Logo", width: 40%>
    </div>
    <div class="balance">
      <span>You currently have </span> <span class="colored-balance">£<%= current_user.balance%></span>
    </div>
  </div>
</div>
