<div class="navbar navbar-expand-sm navbar-light navbar-lewagon", id="navbar">
  <div class="logos">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'coinssss.png'%>
    <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-title">Flutter</div>
</div>
