<div class="navbar navbar-expand-sm navbar-light navbar-lewagon", id="navbar">
  <div class="logos">
    <div class="navbar-brand">
      <i class="fas fa-coins"></i>
    </div>
  </div>
  <div class="navbar-title">Flutter</div>
  <div class="colored">Flutter</div>

</div>
