<div class="navbar navbar-expand-sm navbar-light navbar-lewagon", id="navbar">
  <div class="logos">
    <div class="icon-wrapper">
      <i class="fas fa-coins fa-2x icon-color"></i>
      <span class="badge"><p>$ <%= @user.balance%></p></span>
    </div>
  </div>
  <div class="navbar-title"><%= title %></div>
</div>
