<div class= cards-container>
    <div class = "card">
      <div class="card-avatars">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
      </div>
      <div class="card-stake">
        Stake
      </div>
      <div class="card-text-and-actions">
        <p>Bet text</p>
        <p class="card-button-btm"> Like</p>
        <p class ="card-button-btm"> Comment </p>
      </div>
    </div>
</div>
