<div class="landing-page-container">

 <%= image_tag "earlybirds_white.png", class: "little-logo-image" %>

  <div class="text-fun">
    <h3 class="landing-page-header"> Challenge your friends.</h3>
    <p class="landing-page-subtext"> Flutter lets you gamble with your friends on literally anything.. </p>
  </div>

  <div class="landing-button">
    <a href="/pages/home" class="btn-flutter-white">Get started</a>
  </div>

  <div class="background-logo">
    <div id="big-circle">
      <div id="medium-circle">
        <div id="small-circle">
          <%= image_tag "earlybirds.png", class: "background-logo-image" %>
        </div>
      </div>
    </div>
  </div>
</div>

