.dropupper {
  margin-top: 50px;
  display: flex;
  bottom: 2px;
  left: 0;
  position: fixed;
  margin-right: 20px;

}

.dropbtn {
  height: 50px;
  width: 50px;
  background-color: $blue-purple;
  color: $white !important;
  border-radius: 50%;
  position: fixed;
  bottom: 75px;
  left: calc(50vw - 25px);
  text-align: center;
  vertical-align: center;
  line-height: 45px;
  cursor: pointer;
  margin-top: 25px;

    i {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
}

// .dropbtn:active, .dropbtn:focus, .dropbtn:visited {
//   background-color: $light-purple;
//   color: $blue-purple !important;
// }

.active-button {
  background-color: $light-purple;
  color: $blue-purple !important;
}


.dropdown-content {
  display: none;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $light-purple;
  height: 70px;
  text-align: center;
  color: $white;
  font-size: 12px;

  .btn {
    width: 50px;
    display: block;
    fill: white;
    }

  .profile-button {
    height: 43px;
    width: 43px;
    }
  .svg-btn {
    width: 50px;
    display: block;
    fill: white;
  }
  .changefill {
    fill: $blue-purple;
    width: 50px;
    display: block;
    padding: 0.375rem 0.75rem;

  }
}


.center-btn{
  width: 50px;
  display: block;
  fill: white;

  &:active {
    color: $blue-purple;
  }

  p {
    color: $white !important;
    font-size: 12px;
  }

}
.changefill2 {
    fill: $blue-purple;
    width: 50px;
    display: block;
    // padding: 0.375rem 0.75rem;
  }
.dropdown-content a {
  color: $white;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown a:active {background-color: $light-purple;}

.show {display: flex;}
