.navbar-lewagon {
  justify-content: space-between;
  background-color: $orange;
  color: $white;
  align-items: center;
  height: 70px;
  display: flex;
  padding-bottom: 10px;
}

.navbar-brand .nav-icon {
  width: 50px;
  padding-bottom: 20px;
}

.navbar-title {
  font-family: $headers-font;
  font-size: 48px;
  color: $white;
}

 #navbar {
  position: sticky;
  z-index: 1;
  top: 0;
 }

.logos {

}

.transparent-navbar {
  transition: 0.5s background-color ease;
  background-color: rgba(240, 209, 123, 0.4);
}

.padded {
  margin-right: 10px;
}

.white {
  color: $white !important;
  border-color: $white !important;
}

.colored {
  color: $orange;
}
