.form-control {
  width: 100% !important;
  display: block;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #F7F9F9;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    justify-content: center;
}

.form-container {
  background-color: $white;
  justify-content: center;
  display: flex;
}

.new_bet {
  width: 75vw;
}

.button-mar {
  margin: 20px;
  margin-left: 0px !important;
}
